body{
	font-family: Roboto , Arial;
	margin: 0;
	padding-left: 20px;
	padding-top: 82px;
}
.main-page{
	width: 195px;
	border-right-color: rgb(240, 240, 240 , 1.0);
	border-right-width: 2px;
	border-right-style: solid;
	border-bottom-color: rgb(240, 240, 240 , 1.0);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	margin-bottom: 0;
	padding-bottom: 25px;
	padding-right: 20px;
	object-fit: contain;
}
.items{
	display: block;
	width: 165px;
	height: 185px;
}
.mainPageItems{
	display: block;
	height: 185px;
	width: 165px;
	align-items: center;
	object-fit: contain;
	margin-left: 15px;
}
p{
	width: 205px;
	justify-content: center;
	object-fit: contain;
	padding-bottom: 0;
	/*height: 32px;*/ /*Hides webkit line clamp ellipse*/
}
.limit-lines{
	display: -webkit-box; /*(Activates webkit mode required for line-clamping)*/
	-webkit-box-orient: vertical; /* (Sets axis direction to vertical) */
	-webkit-line-clamp: 2; /* (Limits the visible content to 2 lines before inserting an ellipsis) */
	overflow: hidden;
}
.ratings{
	height: 20px;
	width: 105px;
	padding-bottom: 0;
}
.rating-no{
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	color: #017cb6;
	margin-bottom: 0;
	padding-bottom: 0;
}
.price-rating{
	height: 50px;
}
.itemDetails{
	height: 45px;
}
.screen-price{
	display: block;
	margin-top: 10px;
	font-weight: 500;
	margin-bottom: 12px;
}
.noOfItems{
    /*appearance: none; (strips that native OS overlay away completely so your border-radius can show)*/
  /*-webkit-appearance: none; (Targets browsers powered by the 
	  WebKit/Blink engine, such as 
	  Google Chrome, Apple Safari, Microsoft Edge, and Opera.)
  -moz-appearance: none; (Targets Mozilla Firefox)*/
  border: 1px , solid , rgb(213, 217, 217 , 1.0);
  height: 28px;
  width: 50px;
  font-size: 17px;
  font-weight: 400;
  color: rgb(33, 33, 33 , 1.0);
  padding-left: 5px;
  border-radius: 8px;
  box-shadow: 0 , 2px , 5px , rgba(213, 217, 217, 0.5);
  background-color: rgb(240, 240, 240 , 1.0);
  margin-bottom: 50px;
  margin-top: 12px;
}
.cartButton{
	border: none;
	display: block;
	width: 172px;
	height: 35px;
	border-radius: 20px;
	background-color: #FFD814;
	font-size: 12px;
	align-items: stretch;
	padding: 20px , 6px;
	color: rgb(33, 33, 33 , 1.0);
}
.Amazon-home-page{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0;
	justify-content: center;
	align-items: center;
	align-content: center;
	vertical-align: top;
}