body{
	font-family: Roboto , Arial;
	padding-left: 20px;
	padding-top: 82px;
}
.items{
	display: block;
	width: 165px;
	height: 185px;
}
.mainPageItems{
	display: block;
	height: 185px;
	width: 165px;
}
p{
	display: block;
	width: 205px;
	justify-content: center;
	object-fit: contain;
	padding-bottom: 0;
	height: 32px;
}
.ratings{
	height: 20px;
	width: 105px;
	padding-bottom: 0;
}
.rating-no{
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	color: #017cb6;
	margin-bottom: 0;
	padding-bottom: 0;
}
.price-rating{
	height: 70px;
}
.screen-price{
	font-weight: 500;
}
.noOfItems{
    /*appearance: none; (strips that native OS overlay away completely so your border-radius can show)*/
  /*-webkit-appearance: none; (Targets browsers powered by the 
	  WebKit/Blink engine, such as 
	  Google Chrome, Apple Safari, Microsoft Edge, and Opera.)
  -moz-appearance: none; (Targets Mozilla Firefox)*/
  border: 1px , solid , rgb(213, 217, 217 / 1.0);
  height: 25px;
  width: 45px;
  border-radius: 7px;
  box-shadow: 0 , 2px , 5px , rgba(213, 217, 217, 0.5);
  background-color: rgb(240, 240, 240 / 1.0);
  margin-bottom: 50px;
}
