.orders{
	border: 1px solid rgb(222, 222, 222);
	border-radius: 4px;
	padding: 16px 8px;
	width: 370px;
}
.order-title{
	font-weight: bold;
	font-size: 18px;
}
.items-no ,
.items-price ,
.shipping-options ,
.shipping-price ,
.rawTotal-name ,
.rawTotal-price ,
.tax-percent ,
.tax-price ,
.finalTotal ,
.finalTotal-price{
	font-size: 15px;
	display: inline-block;
}
.items-no ,
.shipping-options ,
.rawTotal-name ,
.tax-percent{
	width: 270px;
}
.finalTotal-price{
	width: 50px;
}
.finalTotal{
	width: 250px;
}
.orders p{
	padding: 0;
	margin: 5px;
}
.finalTotal ,
.finalTotal-price{
	display: inline-block;
	font-weight: bold;
	color: rgb(177, 39, 4);
	font-size: 18px;
}
.shipping-options ,
.shipping-price{
	margin-bottom: 10px;
}
.shipping-price{
	margin-bottom: 5px;
	border-bottom: 1.5px solid rgb(222, 222, 222);
}
.finalTotal ,
.finalTotal-price{
	padding-top: 18px;
	border-top: 1.5px solid rgb(222, 222, 222);
	padding-bottom: 24px;
}
.place-order{
	border: none;
	width: 325px;
	height: 35px;
	border-radius: 5px;
	background-color: #FFD814;
	font-size: 12px;
	cursor: pointer;/*
	margin-top: auto;*/
	color: rgb(33, 33, 33 , 1.0);
	opacity: 1;
}
.place-order.is-disabled{
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none; /*Prevents clicks when disabled*/
}
.place-order:hover{
	background-color: rgb(247, 202, 0);
}
.updateQuantity{
	width: 50px;
	height: 25px;
	font-size: 16px;
}
.updateQuantity:focus{
	border-color: rgb(196, 80, 0);
	outline: none;
}
.saveQuantity:hover{
	color: rgb(196, 80, 0);
}
.saveQuantity{
	width: 45px;
	color: #017cb6;
}
.productQuantity ,
.saveQuantity ,
.updateQuantity{
	display: inline-block;
}
.View-products{
	border: none;
	width: 100%;
	max-width: 130px;
	height: 35px;
	border-radius: 8px;
	background-color: #FFD814;
	font-size: 16px;
	cursor: pointer;/*
	padding: 20px , 6px;*/
	margin-top: auto;
	color: rgb(33, 33, 33 , 1.0);
}
.viewProducts{
	text-decoration: none;
	color: black;
}
.message{
	margin: 0;
	padding-bottom: 10px;
}