*, *::before, *::after{
	box-sizing: border-box;
body{
	font-family: Roboto , Arial;
	padding: 0 125px 125px 125px;
}
.checkout-header{
	position: fixed;
	background-color: white;/*
	width: 100%;*/
	display: flex;/*
	flex: 1;*/
	justify-content: space-between;
	vertical-align: top;
	padding-top: 15px;
}
.left-section{
	display: flex;
	width: 50px;
}
.mid-section{
	display: flex;
	width: 1025px;
	justify-content: center;
}
.right-section{
	display: flex;
}
.logo{
	height: 30px;
}
.checkoutPage{
	font-weight: 500;
	font-size: 26px;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.checkoutPage p{
	margin: 0;
	padding: 0;
}
.Review{
	padding-top: 120px;
	font-weight: bold;
	font-size: 22px;
}
.cart-status{
	margin-bottom: 8px;
}
.addProduct{
	border: none;
	width: 100%;
	max-width: 120px;
	height: 35px;
	border-radius: 10px;
	background-color: #FFD814;
	font-size: 15px;
	cursor: pointer;/*
	padding: 20px , 6px;*/
	margin-top: auto;
	color: rgb(33, 33, 33 , 1.0);
}