*, *::before, *::after{
	box-sizing: border-box;
body{
	font-family: Roboto , Arial;
	padding: 0 125px 125px 125px;
}
.checkout-header{
	position: fixed;
	background-color: white;/*
	width: 100%;*/
	display: flex;/*
	flex: 1;*/
	justify-content: space-between;
	vertical-align: top;
	padding-top: 15px;
}
.left-section{
	display: flex;
	width: 50px;
}
.mid-section{
	display: flex;
	width: 1025px;
	justify-content: center;
}
.right-section{
	display: flex;
}
.logo{
	height: 30px;
}
.checkoutPage{
	font-weight: 500;
	font-size: 26px;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.checkoutPage p{
	margin: 0;
	padding: 0;
}
.Review{
	padding-top: 120px;
	font-weight: bold;
	font-size: 22px;
}
.cart-status{
	margin-bottom: 8px;
}
.addProduct{
	border: none;
	width: 100%;
	max-width: 120px;
	height: 35px;
	border-radius: 10px;
	background-color: #FFD814;
	font-size: 15px;
	cursor: pointer;/*
	padding: 20px , 6px;*/
	margin-top: auto;
	color: rgb(33, 33, 33 , 1.0);
}
.bill{
	display: grid;
	grid-template-columns: 1fr 350px;
	column-gap: 20px;
	align-items: start;
}
.orders{
	border: 1px solid rgb(222, 222, 222);
	border-radius: 4px;
	padding: 16px 8px;
}
.order-title{
	font-weight: bold;
	font-size: 18px;
}
.items-no ,
.items-price ,
.shipping-options ,
.shipping-price ,
.rawTotal-value ,
.rawTotal-price ,
.tax-percent ,
.tax-price ,
.finalTotal ,
.finalTotal-price{
	display: inline-block;
}
.items-no ,
.shipping-options ,
.rawTotal-value ,
.tax-percent ,
.finalTotal{
	width: 290px;
}
.orders p{
	padding: 0;
	margin: 5px;
}
.finalTotal ,
.finalTotal-price{
	display: inline-block;
	font-weight: bold;
	color: rgb(177, 39, 4);
	font-size: 18px;
}