*, *::before, *::after{
	box-sizing: border-box; /* (Prevents padding from expanding element widths) */
}
body{
	font-family: Roboto , Arial;
	margin: 0;/*
	padding-left: 20px;*/
	padding-top: 82px;
}
p{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	object-fit: contain;
}
.main{
	max-width: 870px;
	/*margin-top: 90px;*/
	margin-bottom: 100px;
	padding-left: 0px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.titlePara{
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 25px;
}
.order-container{
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 48px;
}
.order-head{
	background-color: rgb(240, 242, 242);
	border: 1px solid rgb(213, 217, 217);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 25px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.order-status ,
.total-bill ,
.order-placed-id{
	font-weight: 500;
	padding-bottom: 0;
	margin-bottom: 0;
}
.order-placed-date ,
.total-price ,
.order-placed-uid{
	margin-top: 0;
	padding-top: 0;
	font-weight: 400;
	font-size: 16px;
	color: rgb(33, 33, 33);
}
.left-section ,
.order-placed ,
.bill{
	display: inline-block;
}
.order-placed{
	margin-right: 50px;
}
.order-placed-details{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-top: none;
	border-right: 1px solid rgb(213, 217, 217);
	border-left: 1px solid rgb(213, 217, 217);
	margin-top: -1px;
	padding-bottom: 40px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	row-gap: 60px;
}
.order-placed-details:last-child{
	border-bottom: 1px solid rgb(213, 217, 217);
}
.imageContainer ,
.product-image{
	margin-top: 25px;
	margin-left: 20px;
	width: 110px;
	height: 110px;
	margin-bottom: 20px;
	object-fit: contain;
}
.order-details{
	width: 400px;
	margin-top: 50px;
}
.order-name{
	font-weight: 700;
	margin: 0;
	padding: 0;
}
.order-date ,
.order-quantity{
	margin: 0;
	color: rgb(33, 33, 33);
	padding: 0;
	font-weight: 400;
}
.order-name p ,
.order-date p ,
.order-quantity p {
	margin: 0;
	padding: 0;
}
.order-name p ,
.order-date p ,
.order-quantity p {
	margin-bottom: 5px;
}

.BuyAgainButton{
	border: none;
	width: 100%;
	max-width: 130px;
	height: 35px;
	border-radius: 8px;
	background-color: #FFD814;
	font-size: 16px;
	cursor: pointer;/*
	padding: 20px , 6px;*/
	margin-top: auto;
	color: rgb(33, 33, 33 , 1.0);
	display: grid;
	grid-template-columns: 25px 1fr;
	box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}
.buyimage ,
.BuyAgainImage{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-top: 5px;
}
.BuyAgainPara{
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 15px;
	margin-top: 8px;
}
.BuyAgainButton:hover{
	background-color: rgb(247, 202, 0);
	border: 1px solid rgb(242, 194, 0);
}
.tracking-package:hover{
	background-color: #F7FAFA;
}
.tracking-package{
	color: rgb(33, 33, 33);
	background: white;
	border: 1px solid #D5D9D9;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
    margin-top: 50px;
    width: 210px;
    margin-right: 20px;
}
.tracking-para{
	font-size: 15px;
	padding-bottom: 5px;
}
.added-message{
	display: flex;
	height: 20px;
	opacity: 0;
}
.added-to-cart{
	height: 20px;
	margin-right: 5px;
}
.style-message{
	opacity: 1;
	transition: 0.2s;
}
a{
	text-decoration: none;
}